.right
  -if current_user.is_exploring?
    = "Exploration: #{distance_of_time_in_words(current_user.explore_end, Time.now, include_seconds:true)} left"
  -else
    = form_tag("activities/explore", method: "post") do
      = submit_tag("Explore", class:"btn btn-default btn-sm")