-get_home_page(page)
.panel.panel-default
  .panel-body.no-margin.no-padding
    .home-pic.col-xs-12.col-md-12.col-lg-12
      =image_tag "/assets/homescreen.jpg"
      .absolute.pagename
        =@page.capitalize
      .absolute.view-notifications
        =link_to "N", notifications_index_path, class:"btn btn-default"