.panel.panel-default
  .panel-heading
    .well
      =link_to 'Go to WAR!', war_index_path
      =render "war_orbs"
    .well
      =link_to 'Manage Structures', structures_path
    .well
      =link_to 'Manage Army', army_index_path
    .well
      =link_to 'Cast Spells', spells_path
    .well
      =link_to 'Manage Items', items_path
    .well
      =link_to 'Visit the Black Market', market_index_path

