.panel.panel-default
  .panel-heading
    .well
      =link_to 'war', war_index_path
      =render "war_orbs"
    .well
      =link_to 'structures', structures_path
    .well
      =link_to 'army', army_index_path
    .well
      =link_to 'spells', spells_path
    .well
      =link_to 'items', items_path
    .well
      =link_to 'market', market_index_path

