.container
  .menu.col-xs-12.col-md-12.col-lg-12
    .row.menu-item
      =link_to 'war', war_index_path
      =render "war_orbs"
    .row.menu-item
      =link_to 'structures', structures_path
    .row.menu-item
      =link_to 'army', army_index_path
    .row.menu-item
      =link_to 'spells', spells_path
    .row.menu-item
      =link_to 'items', items_path
    .row.menu-item
      =link_to 'market', market_index_path

