.panel.panel-default
  .panel.panel-body{style:"margin-bottom:0"}
    .col-sm-10.col-md-10.col-lg-10
      ="This is your Army.  Below, you can view all the units that you currently control. If you have the resources, you can Recruit more. You can also obtain units by channeling them through spells"
    .col-sm-2.col-md-2.col-lg-2
      = link_to "Recruit", recruit_index_path, class: "btn btn-default"